$primary             : #D6364D;
$primary-dark        : #BD293F;
$primary-compliment  : #2bab99;
$secondary           : #7FB1B1;
$secondary-light     : #A1CECB;
$secondary-hover     : #bae7e4;
$white               : #eee;