@import 'variables';
@import 'form';
@import 'login';
@import 'header';
@import 'contacts';

* {
  font-family: sans-serif;
  margin: 0;
  list-style-type: none;
}

html, body, .container {
  background: $primary;
}




